<h2>Users</h2>

<!-- Botón para crear un nuevo usuario -->
<button mat-flat-button color="primary" routerLink="/users/create">
  Create user
</button>

<!-- Tabla para mostrar los usuarios -->
<table mat-table [dataSource]="users" matSort class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">
  <!-- Columna de ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>

  <!-- Columna de Primer Nombre -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
    <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
  </ng-container>

  <!-- Columna de Segundo Nombre -->
  <ng-container matColumnDef="secondName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Second Name</th>
    <td mat-cell *matCellDef="let user">{{ user.secondName }}</td>
  </ng-container>

  <!-- Columna de Apellido -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
    <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
  </ng-container>

  <!-- Columna de Segundo Apellido -->
  <ng-container matColumnDef="secondLastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Second Last Name</th>
    <td mat-cell *matCellDef="let user">{{ user.secondLastName }}</td>
  </ng-container>

  <!-- Columna de Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <!-- Columna de Teléfono -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
    <td mat-cell *matCellDef="let user">{{ user.phoneNumber }}</td>
  </ng-container>

  <!-- Columna de Fecha de Nacimiento -->
  <ng-container matColumnDef="brithDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Birth Date</th>
    <td mat-cell *matCellDef="let user">{{ user.brithDate }}</td>
  </ng-container>

  <!-- Columna de Valor Estimado -->
  <ng-container matColumnDef="estimatedValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estimated Value</th>
    <td mat-cell *matCellDef="let user">{{ user.estimatedValue }}</td>
  </ng-container>

  <!-- Columna de Notas -->
  <ng-container matColumnDef="notes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes</th>
    <td mat-cell *matCellDef="let user">{{ user.notes }}</td>
  </ng-container>

  <!-- Columna de Acciones -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let user">
      <button mat-flat-button color="accent" routerLink="/users/edit/{{user.id}}">
        Edit
      </button>
      <button mat-flat-button color="warn" (click)="deleteUser(user.id)">
        Delete
      </button>
    </td>
  </ng-container>

  <!-- Encabezado y filas -->
  <tr mat-header-row *matHeaderRowDef="['id', 'firstName', 'secondName', 'secondLastName', 'lastName', 'email', 'phoneNumber', 'brithDate', 'estimatedValue', 'notes', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'firstName', 'secondName', 'secondLastName', 'lastName', 'email', 'phoneNumber', 'brithDate', 'estimatedValue', 'notes', 'actions']"></tr>
</table>
